.main {
    background-image: url("../../../assets/images/main_filtered.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
