<div class="sidebar">
  <a href="#home"><img src="../assets/images/home.png" height="100%" width="100%"></a>
  <a href="#about"><img src="../assets/images/person.png" height="100%" width="100%"></a>
  <a href="#projects"><img src="../assets/images/book.png" height="100%" width="100%"></a>
  <a href="#contact"><img src="../assets/images/phone.png" height="100%" width="100%"></a>
</div>
<app-main id="home"></app-main>
<app-about id="about"></app-about>
<app-projects id="projects"></app-projects>
<app-contact id="contact"></app-contact>