<section class="section about" id="about">
  <div class="row">
    <div class="col-md-4">
      <h1 class="header">About Me</h1>
    </div>
    <!--<div class="profile">
  
    </div>-->
    <div class="col-md-8 text-center">
      <ngb-accordion #acc="ngbAccordion" class="about-accordian mt-5">
        <ngb-panel class="school">
          <ng-template ngbPanelTitle>
            <span><h3>Schooling</h3></span>
          </ng-template>
          <ng-template ngbPanelContent class="panel-content">
            <img src="../../../assets/images/chattech.png" class="img-responsive" height="100%" width="100%">
            <br>
            Graduated with an Associates Degree in Web Development in 2020 from Chattahoochee Technical College. 
            In my time there, I had the opportunity to study the basics of Html, CSS, and SQL. After two years of practice,
            I have become proficient in the techinques and practice of these concepts. I also had the chance to focus on PHP
            as an addition to my front-end experience, gaining a certificate of (Insert cert name). My final project was to create 
            a demo pet store using PHP to .......(think of something to say about it). This can be found in the <a class="link" href="#projects">projects</a> tab. 
          </ng-template>
        </ngb-panel>
        <ngb-panel class="work">
          <ng-template ngbPanelTitle>
            <span><h3>Work Experience</h3></span>
          </ng-template>
          <ng-template ngbPanelContent class="panel-content">
            work stuff
          </ng-template>
        </ngb-panel>
        <ngb-panel class="goals">
          <ng-template ngbPanelTitle>
            <span><h3>My Goals</h3></span>
          </ng-template>
          <ng-template ngbPanelContent class="panel-content">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="profile text-center">
        <img src="../../../assets/images/profile_self.png" class="profile-img img-responsive">
        <h5 class="profile-name">Gabby Freed</h5>
        <h6 class="profile-title">Junior Web Developer</h6>
        <p class="profile-desc">Excited to start my journey, gain experience, and discover new opportunities. 
         I am 24 years old and was born and raised just outside of Atlanta in Newnan, GA.
         Web Development is a process I have grown to love over the past 3-4 years and am excited to see
         where we see the future of websites in the next 5-10 years.  </p>
         <div class="row d-flex justify-content-around">
           <a href="https://www.linkedin.com/in/gabbyfreed/" class="social-link linked-in"><img src="../../../assets/images/icon-linkedin.png"></a>
           <a href="https://github.com/gabbyfreed-co" class="social-link github"><img src="../../../assets/images/icon-github.png"></a>
           <a href="mailTo:gabby.freed@srfreedconsulting.com" class="social-link email"><img src="../../../assets/images/icon-email.png"></a>
         </div>
      </div>
    </div>
    <div class="col-md-8">

    </div>
  </div>
</section>
