.contact {
  background-color: #C74023;
}
.contact-form {
  width: 50%;
  margin: 0 auto;
}
.label {
  font-size: 20px;
  color: #fff;
}
.input {
  margin: 1% auto;
}
.form-button {
  font-size: 16px;
  margin: 5% 0%;
  border-radius: 5px;
  color: #fff;
  background-color: black;
  border: none !important;
  padding: 1% 3%;
  float: right;
}